body {
  background-color: rgb(211, 211, 211);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .contact {
  width: 100%;
  margin-right: 0.8em;
  /* text-align: right; check */
  font-size: 1.5em;
}

/* .App-header .contact .name {

} */

.App-header .contact .promote {
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}

#example {
  margin-top: 2vh;
}

svg {
  background-color: white;
}

.tooltip {
  font-size: 2em;
  opacity: 0;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  transition: opacity 0.2s ease;
  text-align: center;
}
