.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

.App-header .contact {
  width: 100%;
  margin-right: 0.8em;
  font-size: 1.5em;
}

.App-header .contact .promote {
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

.contact {
  text-align: right;
}

.info {
  text-align:center;
}

.info ul {
  display:inline-block;
  text-align:left;
  margin-top: 2%;
  font-size: 2em;
}

#example {
  margin-top: 2vh;
}

svg {
  background-color: white;
}

.svg-wrapper {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

.tooltip {
  font-size: 2em;
  opacity: 0;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  transition: opacity 1s ease;
  text-align: center;
}


.motivation .rectangle:hover {
  fill:rgb(143, 210, 164);
}

.activity .rectangle:hover {
  fill:rgb(246, 131, 79);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

.main-text, .enormous-button {
  font-size: 2.2em;
}

.enormous-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.col-border {
  border-right: 3px solid #282c34;
}

.row-outro {
  margin-top: 15%;
}

.left-side, .right-side {
  display: inline-block !important;
}