.App {
  text-align: center;
  background-color: rgb(211, 211, 211);
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#example {
  margin-top:2vh;
}

svg {
  background-color: white;
}